simpleboard/src/main/resources/application_dev.properties
simpleboard/src/main/resources/application_local.properties
simpleboard/src/main/resources/application-dev.properties
simpleboard/src/main/resources/application-local.properties
simpleboard/src/main/resources/properties/dev/db.properties
simpleboard/src/main/resources/properties/local/db.properties
.idea/
