<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleag.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board_list.html}"
>
<body>
    <scetion layout:fragment="content" class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row mb-3">
                <form action="" method="POST" name="newRoleForm">
                    <div class="col">
                        <label>Role name : </label>
                        <input tpye="text" class="form-control" name="newName" value="ROLE_">
                        <label>Description : </label>
                        <input type="text" class="form-control" name="newDescription">
                        <button type="button" onclick="javascript:postNewRole()">Create</button>
                    </div>
                </form>
            </div> <!--end of form for role post-->
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="roleList">
                    </tbody>
                </table>
            </div> <!--end of div for role list table-->
        </div> <!--end of container-->
        <div class="row">
            <div class="col modal modifyRoleModal" tabindex="-1">
                <div class="modal-dialog">
                    <dic class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Edit Role
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Name</span>
                                <input type="text" class="form-control modifyName" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Description</span>
                                <input type="text" class="form-control modifyDescription">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary modifyBtn">Modify</button>
                            <button class="btn btn-out-line-dark closeBtn">Close</button>
                        </div>
                    </dic> <!--end of div for modal content-->
                </div>
            </div>
        </div> <!--end of div for edit modal-->
    </scetion>

<script layout:fragment="script" th:inline="javascript">
    const newRoleForm = document.querySelector(".newRoleForm");
    const newRoleName = document.querySelector("input[name='newName']");
    const newRoleDescription = document.querySelector("input[name='newDescription']");

    function postNewRole() {

        if(newRoleName === null || newRoleName.value.length == 0) {
            alert("role name length must bigger than zero");
            return ;
        }

        if(newRoleName.value.startsWith("ROLE_") == false) {
            alert("role's name must start with ROLE_");
            return ;
        }

        if(newRoleDescription === null || newRoleDescription.length == 0) {
            alert("role description length must bigger than zero");
            return ;
        }

        let newName = newRoleName.value;
        let newDescription = newRoleDescription.value;

        axios.post("/members/roles", {
            name : newName
            , description : newDescription
        }, {
            headers : { 'Content-Type' : 'application/json'}
        }).then(res=>{
            if(res.data) {
                alert(`new role ${newName} created`);
            }
            else {
                alert("role create failed.");
            }

            newRoleName.value = 'ROLE_';
            newRoleDescription.value = '';
            clearRoleList();
            getRoleList();
        }).catch(e=>{
            console.error(e);

            newRoleName.value = '';
            newRoleDescription.value = '';
        });
    };

    const tableBody = document.querySelector(".roleList");

    function clearRoleList() {
        tableBody.innerHTML = '';
    };

    function getRoleList() {
        axios.get("/members/roles")
        .then(res=>{
            let str = '';
            for(var ele of res.data) {
                str += `
                    <tr>
                        <td>${ele.name}</td>
                        <td>${ele.description}</td>
                        <td>
                            <button class = "btn btn-primary" onclick="javascript:showRoleModifyModal(${ele.id}, '${ele.name}', '${ele.description}')">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class = "btn btn-secondary" onclick="javascript:deleteRole(${ele.id}, '${ele.name}', '${ele.description}')">
                                Delete
                            </button>
                        </td>
                    </tr>
                `;
            }
            tableBody.innerHTML += str;
        }).catch(e=>{
            console.error(e);
        });
    };

    function deleteRole(id, name, description) {
        axios.delete(`/members/roles/${id}`, {
            data : {
                id : id
                , name : name
                , description : description
            },
            headers : {
                'Content-Type' : 'application/json'
            }
        }).then(res=>{
            if(res.data) {
                alert(`role[${name}] delete successed`);
            } else {
                alert(`role[${name}] delete failed`);
            }
            clearRoleList();
            getRoleList();
            return ;
        }).catch(e=>{
            console.error(e);
            return ;
        });
        return ;
    };
    clearRoleList();
    getRoleList();

    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyRoleModal"));
    const modifyName = document.querySelector(".modifyName");
    const modifyDescription = document.querySelector(".modifyDescription");
    const modifyBtn = document.querySelector(".modifyBtn");
    const closeBtn = document.querySelector(".closeBtn");
    let curModifyRoleId = 0;

    function showRoleModifyModal(id, name, description) {
        curModifyRoleId = id;

        modifyName.value = name;
        modifyDescription.value = description;

        modifyModal.show();
        return ;
    };

    closeBtn.addEventListener("click", function(e) {
        e.preventDefault();
        e.stopPropagation();

        curModifyRoleId = 0;
        modifyName.value = '';
        modifyDescription = '';

        modifyModal.hide();
    }, false);

    modifyBtn.addEventListener("click", function(e){

        let name = modifyName.value;
        let description = modifyDescription.value;
        let id = curModifyRoleId;
        curModifyRoleId = 0;
        modifyName.value = '';
        modifyDescription.value = '';

        axios.put(`/members/roles/${id}`, {
            id : id
            , name : name
            , description : description
        }).then(res=>{
            if(res.data) {
                alert(`${name} is updated`);
                modifyModal.hide();
                return ;
            } else {
                alert(`${name} update is failed`);
                modifyModal.hide();
                return ;
            }
        }).catch(e=>{
            console.error(e);
        });

        modifyModal.hide();
    }, false);

</script>
</body>
</html>